
body {
    background-color: #ccc;
}


.main-wrapper {
    margin: 0 auto;
    width: 1000px;

}

/* sitewide anchor tags */
a {
    text-decoration: none;
}

/* header stylign */
header nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

/* Home item styling */
header nav ul li {
    float: left;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    line-height: 63px;
}

/* Floating right the entire login form */
header .nav-login {
    float: right;

}

/* Floating left the input fields in the login form */
header .nav-login form{
    float: left;
    padding-top: 15px;
    
}

/* Input fields */
header .nav-login form input{
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Submit button */
header .nav-login form button{
    float: left;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}


/* Color of submit button */
header .nav-login form button:hover{
    background-color: #ccc;
   
}

/* Sign up button */
header .nav-login a {
    display: block;
    width: 80px;
    height: 60px;
    border: none;
    float: left;
    background-color: #fff;
    cursor:pointer;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    line-height: 63px;
}

.main-container {
    padding-top: 40px;
}

.main-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}


/***************sign up form *****************************/

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input {
  
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.signup-form button:hover{
    background-color: #111;  
}
